p {
    background-color: beige;
    font-style: oblique;
    font-size: medium;
    border-color: blueviolet;
}

h1 {
    background-color: blanchedalmond;
    font-family: fantasy;
}

div {
    background-color: darkgoldenrod;
}