p {
    background-color: beige;
    font-style: oblique;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: groove;

}
H1{
    text-align: center; 
    color:grey;
    background-color: blanchedalmond;
    font-family: fantasy;

}

div {
    background-color: darkgoldenrod;
border-radius: 25%;
}